	<!-- #container -->
	<div id="container" class="clearfix">

<!-- 페이지 시작-->

<!-- view  -->
<div class="view">
	<!-- 카테고리탭 -->
	<div class="detail_category">
		<ul class="category_tab clearfix">
			<li><a class="keyword_tg collapsed" href="#keyword"  data-toggle="collapse">키워드 <i class="glyphicon glyphicon-menu-up"></i></a></li>
			<li><a class="on" href="">ALL</a></li>
			<li><a href="">BABY&amp;KIDS</a></li>
			<li><a href="">LOVE</a></li>
			<li><a href="">BIRTHDAY</a></li>
			<li><a href="">TRAVEL</a></li>
			<li><a href="">D-CARD</a></li>
			<!--
			<li><a href="">ACADEME</a></li>
			<li><a href="">BUSINESS</a></li>
			<li><a href="">SALE</a></li>
			<li><a href="">FREE</a></li>
			-->
		</ul>
		<!-- 키워드 -->
		<div class="collapse" id="keyword">
			<i></i>
			<ul class="row">
				<li class="col-sm-3 col-xs-6"><a href="">고급스러운</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">이벤트 &amp; 클럽</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">사랑</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">재미난</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">부드러운</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">자동차 &amp; 스포츠</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">숙박 &amp; 부동산</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">카페 &amp; 레스토랑</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">성장동영상 &amp; 가족동영상</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">전문적인</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">앱 &amp; 게임</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">태권도</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">신규 템플릿</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">크리스마스 템플릿</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">여행 &amp; 여가</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">학교 &amp; 학원</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">엣지있는</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">패션 &amp; 뷰티</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">웨딩</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">임신9개월</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">열정적인</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">광고영상</a></li>
				<li class="col-sm-3 col-xs-6"><a href=""></a></li>
			</ul>
		</div>
	</div>
	<!-- 내용 -->
	<section class="view_cnt">
		<h2 class="sr-only">웨딩 영상 샘플</h2>
		<!-- 비디오 삽입부분 -->
		<div class="video_wrap">
			<img class="img-responsive" src="_temp/tmb2.jpg" alt="" />
		</div>
		<div class="sns_link text-right pa15">
			<a href="">페이스북</a>
			<a href="">트위터</a>
		</div>
		<!-- 정보 -->
		<section class="view_body bg_wh">
			<h2 class="text-center">Love is in the air</h2>
			<hr class="hr">
			<div class="video_info row">
				<dl class="col-sm-3 col-xs-6 photo">
					<dt>PHOTO</dt>
					<dd>80장</dd>
				</dl>
				<dl class="col-sm-3 col-xs-6 text">
					<dt>TEXT</dt>
					<dd>변경 불가능</dd>
				</dl>
				<dl class="col-sm-3 col-xs-6 time">
					<dt>TIME</dt>
					<dd>3분 12초</dd>
				</dl>
				<dl class="col-sm-3 col-xs-6 music">
					<dt>BGM</dt>
					<dd class="color_red">변경 가능</dd>
				</dl>
			</div>
			<div class="price text-center">
				판매가 <strong class="color_red">￦2,500</strong>
				<span class="price_ex color_red">($33)</span>
			</div>
			<div class="btn_area row pa15">
				<span class="col-xs-6 pr5"><button type="button" class="btn btn-lg btn-block bg_red mb10">바로구매</button></span>
				<span class="col-xs-6 pl5"><button type="button" class="btn btn-lg btn-block mb10">장바구니</button></span>
			</div>
			<hr class="hr">
			<div class="helper pa15 pr">
				<dl class="row">
					<dt>헬퍼서비스</dt>
					<dd class="pt5 fs12 color_grey">9,900원이 추가되는 동영상 제작대행 서비스 입니다.</dd>
				</dl>
				<a href="">바로가기 &gt;</a>
			</div>
		</section>
		<hr class="hr mt5">
		<!-- 댓글 -->
		<div class="cmt_box">
			<p class="color_grey pb15">
				고객님이 작성해주신 상품평이 총 <strong class="color_red">0</strong>개 있습니다.
			</p>
			<!-- 댓글목록 -->
			<div class="cmt_lst">
				<table class="table v2">
					<thead>
						<tr>
							<th class="grade" scope="col">평점</th>
							<th scope="col">제목</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<!-- 별점 -->
								<span class="star_wrp sm">
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star"></i>
								</span>
							</td>
							<td class="title">
								<div>
									<a href="#">너무 이쁘고 기념일에 사용하기 좋아요 사용하기 좋아요사용하기 좋아요</a>
								</div>
								<div class="meta">
									이선균 / 2015.09.10
								</div>
							</td>
						</tr>
						<!-- 테이블형 내용 출렧 -->
						<tr class="table_cnt">
							<td></td>
							<td class="td_cnt">
								<div class="content">
									내일 프로포즈 할꺼라서 긴급하게 제작했는데, 너무 완성도가 높네요. <br>
									그리고 업로드 하고 빠른 처리해주셔서 감사합니다.<br>
									내일 프로포즈 할꺼라서 긴급하게 제작했는데, 너무 완성도가 높네요. <br>
									그리고 업로드 하고 빠른 처리해주셔서 감사합니다.<br>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<!-- 별점 -->
								<span class="star_wrp sm">
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star"></i>
								</span>
							</td>
							<td class="title">
								<div>
									<a href="#">너무 이쁘고 기념일에 사용하기 좋아요 사용하기 좋아요사용하기 좋아요</a>
								</div>
								<div class="meta">
									이선균 / 2015.09.10
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<nav class="text-center">
					<ul class="pagination">
						<li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
					</ul>
				</nav>
			</div>
			<!-- 댓글작성 -->
			<div class="cmt_wrt_wrp bg_f1">
				<form class="bx2">
					<div class="form-group star_regist">
						<label class="radio-inline">
							<input type="radio" name="star">
							<!-- 별점 -->
							<span class="star_wrp sm">
								<i class="fa fa-star on"></i>
								<i class="fa fa-star on"></i>
								<i class="fa fa-star on"></i>
								<i class="fa fa-star on"></i>
								<i class="fa fa-star on"></i>
							</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="star">
							<!-- 별점 -->
							<span class="star_wrp sm">
								<i class="fa fa-star on"></i>
								<i class="fa fa-star on"></i>
								<i class="fa fa-star on"></i>
								<i class="fa fa-star on"></i>
								<i class="fa fa-star"></i>
							</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="star">
							<!-- 별점 -->
							<span class="star_wrp sm">
								<i class="fa fa-star on"></i>
								<i class="fa fa-star on"></i>
								<i class="fa fa-star on"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="star">
							<!-- 별점 -->
							<span class="star_wrp sm">
								<i class="fa fa-star on"></i>
								<i class="fa fa-star on"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</span>
						</label>
						<label class="radio-inline">
							<input type="radio" name="star">
							<!-- 별점 -->
							<span class="star_wrp sm">
								<i class="fa fa-star on"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</span>
						</label>
					</div>
					<div class="form-group">
						<input type="text" class="form-control input-lg" placeholder="제목">
					</div>
					<div class="form-group">
						<textarea rows="5" class="form-control input-lg" placeholder="내용 (무비에 대한 문의사항은 고객센터를 이용해 주세요.)"></textarea>
					</div>
					<div class="row form-group">
						<label for="picFile" class="col-sm-2 control-label pt10 fs16">사진등록</label>
						<div class="col-sm-10">
							<input type="file" id="picFile" class="form-control input-lg">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-9 col-xs-12 pb20 fs16 fs13-xs">
							<p>무비에 대한 문의사항은 <a href="mailto:cs@thedays.co.kr" class="color_blue">cs@thedays.co.kr</a>로 문의하시면 빠른 시간내에 답변 드리겠습니다.</p>
						</div>
						<div class="col-sm-3 col-xs-12">
							<button type="submit" class="btn btn-lg btn-block bg_red">리뷰 등록</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!-- 하단슬라이드 -->
	<div class="view_slider">
		<ul>
			<li><a data-slide-index="0" href=""><img src="_temp/tmb.jpg" alt=""><span class="ellipsis">My Everything</span></a></li>
			<li><a data-slide-index="1" href=""><img src="_temp/tmb.jpg" alt=""><span class="ellipsis">My Everything</span></a></li>
			<li><a data-slide-index="2" href=""><img src="_temp/tmb.jpg" alt=""><span class="ellipsis">My Everything</span></a></li>
			<li><a data-slide-index="3" href=""><img src="_temp/tmb.jpg" alt=""><span class="ellipsis">My Everything</span></a></li>
			<li><a data-slide-index="4" href=""><img src="_temp/tmb.jpg" alt=""><span class="ellipsis">My Everything</span></a></li>
			<li><a data-slide-index="5" href=""><img src="_temp/tmb.jpg" alt=""><span class="ellipsis">My Everything</span></a></li>
			<li><a data-slide-index="6" href=""><img src="_temp/tmb.jpg" alt=""><span class="ellipsis">My Everything</span></a></li>
			<li><a data-slide-index="7" href=""><img src="_temp/tmb.jpg" alt=""><span class="ellipsis">My Everything</span></a></li>
		</ul>
	</div>
<script>
jQuery(function($){
	$('.view_slider ul').bxSlider({
		pager:false,
		minSlides:3,
		maxSlides:3,
		slideWidth:230,
		slideMargin:6,
		infiniteLoop:false
	});
});
</script>
</div>

<!-- //페이지 끝-->

	</div>
	<!-- //container -->
