<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>the Days</title>

<!-- css -->
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/jquery.bxslider.css">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/m.css">

<!-- js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>

<body>
<a class="skip" href="#container">Skip to main content</a>

<!-- wrap.screenID -->
<div id="wrap" class="main">

	<!-- header -->
	<header id="hd">
		<div>
			<h1><a href="index.html"><img src="img/logo.png" alt="logo">theDays</a></h1>
			<a class="icon_mn" href="#gnb" onClick="$(this).toggleClass('on');$('#gnb').toggle();return false;">메뉴</a>
			<!-- GNB -->
			<nav id="gnb">
				<ul>
					<li class="dropdown">
						<span>Language</span>
						<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">한국어 <span class="caret"></span></button>
						 <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
						 	<li><a href="#">한국어</a></li>
						 	<li><a href="#">English</a></li>
						</ul>
					</li>
					<li><a href="login.html">로그인</a></li>
					<li><a href="login.html">리뷰</a></li>
					<li><a href="cart.html">장바구니</a></li>
					<li><a href="mypage.html">마이페이지</a></li>
					<li><a href="faq.html">FAQ</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- //header -->
	
	<!-- #container -->
	<div id="container" class="clearfix">

<!-- 페이지 시작-->

<div id="index">
	<section id="sect1" class="row mb15 pa0">
		<h2 class="sr-only">promotion</h2>
		<!-- 메인 슬라이드 -->
		<div id="slider">
			<ul>
				<li>
					<img class="img-responsive center-block" src="_temp/slide.jpg" alt="">
				</li>
				<li>
					<img class="img-responsive center-block" src="_temp/slide.jpg" alt="">
				</li>
				<li>
					<img class="img-responsive center-block" src="_temp/slide.jpg" alt="">
				</li>
			</ul>
		</div>
		<!-- login -->
		<div class="main_login_bx text-center">
			<form class="mb15">
				<div>
					<input type="text" class="form-control input-lg" placeholder="이메일을 입력하세요">
				</div>
				<div class="mb15">
					<input type="password" class="form-control input-lg" placeholder="비밀번호를 입력하세요">
				</div>
				<div>
					<button type="submit" class="btn btn-lg btn-block bg_red">로그인</button>
				</div>
				<div class="mt15">
					<a href="join.html"><u>회원가입</u></a>
					<p class="mt10 color_blue">회원 가입하시면 무료 체험하실 수 있습니다.</p>
				</div>
			</form>
			<a class="btn btn-lg btn-block bg_blue" href=""><i class="fa fa-facebook mr5"></i> 페이스북으로 회원가입</a>
			<p class="mt10 color_grey">theDays에 가입함으로써 theDay의 서비스 약관 및 개인 정보보호정책에 동의하게 됩니다.</p>
		</div>
		<div class="col-xs-12">
			<ul id="indexTab" class="nav nav-pills nav-justified">
				<li><a href=""><i class="icon_indextab_1"></i> 사용메뉴얼</a></li>
				<li><a href=""><i class="icon_indextab_2"></i> 체험하기</a></li>
				<li><a href=""><i class="icon_indextab_3"></i> 리뷰</a></li>
				<li><a href=""><i class="icon_indextab_4"></i> 헬퍼 서비스</a></li>
			</ul>
		</div>
<script>
jQuery(function($){
	$('#slider>ul').bxSlider({
		speed:1000,
		controls:false
	});
});
</script>
	</section>
	<section id="sect2" class="row pb20">
		<h2 class="sr-only">item</h2>
		<!-- 카테고리탭 -->
		<ul class="category_tab clearfix">
			<li><a class="keyword_tg collapsed" href="#keyword"  data-toggle="collapse">키워드 <i class="glyphicon glyphicon-menu-up"></i></a></li>
			<li><a class="on" href="">ALL</a></li>
			<li><a href="">BABY&amp;KIDS</a></li>
			<li><a href="">LOVE</a></li>
			<li><a href="">BIRTHDAY</a></li>
			<li><a href="">TRAVEL</a></li>
			<li><a href="">D-CARD</a></li>
			<!--
			<li><a href="">ACADEME</a></li>
			<li><a href="">BUSINESS</a></li>
			<li><a href="">SALE</a></li>
			<li><a href="">FREE</a></li>
			-->
		</ul>
		<!-- 키워드 -->
		<div id="keyword" class="collapse">
			<i></i>
			<ul class="row">
				<li class="col-sm-3 col-xs-6"><a href="">고급스러운</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">이벤트&amp;클럽</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">부드러운</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">자동차&amp;스포츠</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">성장동영상&amp;가족동영상</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">전문적인</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">신규 템플릿</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">크리스마스 템플릿</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">엣지있는</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">패션&amp;뷰티</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">열정적인</a></li>
				<li class="col-sm-3 col-xs-6"><a href="">광고영상</a></li>
			</ul>
		</div>
		<!-- 아이템 목록 -->
		<div class="lst">
			<ul class="row">
				<li class="col-sm-6 col-xs-12 itm">
					<div>
						<a href="">
							<img class="img-responsive" src="_temp/tmb.jpg" alt="">
						</a>
						<div class="cnt_wrp">
							<h4><a href="">My Everything</a></h4>
							<div class="summary">
								프로포즈
							</div>
							<div class="meta clearfix">
								<div class="pull-left"><span class="label bg_red">프로포즈</span></div>
								<div class="pull-right">
									<strong class="color_red">￦2,500  /  ($33)</strong>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="col-sm-6 col-xs-12 itm">
					<div>
						<a href="">
							<img class="img-responsive" src="_temp/tmb.jpg" alt="">
						</a>
						<div class="cnt_wrp">
							<h4><a href="">My Everything</a></h4>
							<div class="summary">
								프로포즈
							</div>
							<div class="meta clearfix">
								<div class="pull-left"><span class="label bg_red">프로포즈</span></div>
								<div class="pull-right">
									<strong class="color_red">￦2,500  /  ($33)</strong>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="col-sm-6 col-xs-12 itm">
					<div>
						<a href="">
							<img class="img-responsive" src="_temp/tmb.jpg" alt="">
						</a>
						<div class="cnt_wrp">
							<h4><a href="">My Everything</a></h4>
							<div class="summary">
								프로포즈
							</div>
							<div class="meta clearfix">
								<div class="pull-left"><span class="label bg_red">프로포즈</span></div>
								<div class="pull-right">
									<strong class="color_red">￦2,500  /  ($33)</strong>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="col-sm-6 col-xs-12 itm">
					<div>
						<a href="">
							<img class="img-responsive" src="_temp/tmb.jpg" alt="">
						</a>
						<div class="cnt_wrp">
							<h4><a href="">My Everything</a></h4>
							<div class="summary">
								프로포즈
							</div>
							<div class="meta clearfix">
								<div class="pull-left"><span class="label bg_red">프로포즈</span></div>
								<div class="pull-right">
									<strong class="color_red">￦2,500  /  ($33)</strong>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section id="sect3" class="row pa60 pa20-xs bg_wh text-center">
		<img class="img-responsive center-block mt60 mb60 mt30-xs mb30-xs" src="img/index/section3.png" alt="">
		<h1 class="h1 fs16">더데이즈 무비메이커 사용방법 동영상보기</h1>
		<h2 class="h2 fs11 color_grey">쉽고 간편한 무비메이커 4분 완전 정복!!! 정말 쉬워요!!! 1번만 보면 세상을 바꿀 수 있습니다.</h2>
		<div class="pa30 pt15">
			<a class="btn btn-md btn-block" href="">동영상 보기</a>
		</div>
	</section>
	<section id="sect4" class="row pa60 pa20-xs text-center">
		<img class="img-responsive center-block mt30 mb30" src="img/index/section4.png" alt="">
		<h1 class="h1 fs16">더데이즈 무비메이커 체험하기</h1>
		<h2 class="h2 fs11 color_grey">사진만 준비되면 5분~10분이내 나만의 영상 완성, 제2의 기록물이 될 것입니다.</h2>
		<div class="pa30 pt15">
			<a class="btn btn-md btn-block" href="">체험하기</a>
		</div>
	</section>
	<section id="sect5" class="row pa60 pa20-xs text-center color_wh">
		<img class="img-responsive center-block mt60 mb60 mt30-xs mb30-xs" src="img/index/section5.png" alt="">
		<h1 class="h1">헬퍼서비스</h1>
		<h2 class="h2" style="opacity:.6">직접 제작하기 번거롭다고요, 급하게 1시간이내에 제작해서 이벤트하고 싶다면?</h2>
		<div class="pa30 pt15">
			<a class="btn btn-md btn-block" href="">신청하기</a>
		</div>
	</section>
	<section id="sect6" class="row pa60 pa20-xs bg_wh text-center">
		<h1 class="h1 fs16"><strong>모든기기에서 동영상 시청이 가능하며 공유도 가능합니다.</strong></h1>
		<h2 class="h2 fs11">컴퓨터, 스마트폰, 태블릿, TV, 극장상영을 통해 연인, 가족, 친구들과 함께 동영상을 공유하세요</h2>
		<img class="img-responsive center-block" src="img/index/section6.png" alt="">
	</section>
	<section id="sect7" class="row pa60 pa20-xs text-center color_wh">
		<h1 class="h1 fs16"><strong>고품질 동영상의 중심지로 당신을 초대합니다.</strong></h1>
		<div class="row pa40 pa20-xs">
			<div class="col-xs-6 pr2">
				<a class="btn btn-sm btn-block btn_wh" href="">회원가입</a>
			</div>
			<div class="col-xs-6 pl2">
				<a class="btn btn-sm btn-block bg_red" href="">로그인</a>
			</div>
		</div>
	</section>
</div>

<!-- //페이지 끝-->

	</div>
	<!-- //container -->

	<!-- Footer -->
	<footer id="ft">
		<div class="ft_top">
			<img src="img/kakao.png" alt="" />
			<p class="color_red pt15 pb5">문의사항은 실시간 카카오톡으로 보내주세요</p>
			<span class="fs16">ID : 더데이즈</span>
			<img class="mt30 mb15" src="img/icon_time2.png" alt="" />
			<dl>
				<dt>근무시간</dt>
				<dd class="fs16 pt5">09:00~18:00</dd>
			</dl>
		</div>
		<ul class="fnb pt50 pb20">
			<li><a href="">회사소개</a></li>
			<li><a href="">이용약관</a></li>
			<li><a href="">개인정보보호방침</a></li>
			<li><a href="">사업자정보확인</a></li>
			<li><a href="">협력/제휴</a></li>
		</ul>
		<dl class="ft_btm clearfix">
			<dt>상호</dt>
			<dd>주식회사 위드비디오</dd>
			<dt>사업자등록번호 </dt>
			<dd>771-87-00082</dd>
			<dt>대표</dt>
			<dd>최옥현, 이상교</dd>
			<dt>통신판매업신고</dt>
			<dd>제2015-서울강서-0574</dd>
			<dt>전화</dt>
			<dd>02.562.3618</dd>
			<dt>이메일</dt>
			<dd>cs@thedays.co.kr</dd>
			<dt>개인정보보호담당</dt>
			<dd>옥지현팀장</dd>
			<dt>주소</dt> 
			<dd>서울특별시 강서구 양천로 551-24, 
			506호 (가양동, 한화비즈메트로 2차)</dd>
		</dl>
		<div class="sns_link pt20">
			<a href="">페이스북</a>
			<a href="">트위터</a>
		</div>
	</footer>
	<!-- //Footer -->
</div>
<!-- //wrap -->



<!-- lib -->
<script src="js/jquery.bxslider.min.js"></script>
<!-- common -->
<script src="js/common.js"></script>
</body>
</html>